/*
 * Change the colorscheme for every menu simply by editing this file...
 *
 * Available Color Schemes
 *
 * bluish    berry    nordic    nightly    gotham    mask    faded    cocoa
 * black     white
 *
 */

#@import "gotham.rasi"

/* colors */

{
  al:  #00000000;
  bg:  #000000ff;
  se:  #101010ff;
  fg:  #FFFFFFff;
  ac:  #FBC02Dff;
}
